/* Variables */

* {
  box-sizing: border-box;
}

:root {
  --primaryGreen: #b5de8c;
  --secondaryGreen: #eaf6df;
  --footerGrey: #65645e;
  --black: #000;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "museo slab";
  font-size: 2.5rem;
}

header {
  font-family: "museo sans";
}

p {
  font-family: "museo sans";
}

.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

header .branding {
  margin: 20px 0 0 50px;
  float: left;
  width: 40px;
  height: 40px;
  border: 1px solid var(--primaryGreen);
  background-color: var(--primaryGreen);
  border-radius: 50px;
}

header .button_1 {
  float: right;
  margin: 20px;
  color: #fff;
  width: 150px;
  height: 40px;
  background: var(--primaryGreen);
  padding: 0.3vw 0.6vw;
  border-radius: 3vw;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button_2 {
  cursor: pointer;
}

.button_1:hover {

  color: var(--black);
}

nav {
  height: 80px;
  background: white;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  /* margin: 0 0 0 200px; */
  margin-left: 8%;
}

nav ul li a {
  position: relative;
  padding: 5px 0;
  color: var(--black);
  font-size: 18px;
  text-transform: uppercase;
}

nav ul li a:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--primaryGreen);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s linear;
}

nav ul li a:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

label #btn,
label #cancel {
  font-size: 30px;
  color: var(--black);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 800px) {
  .button_1 {
    display: none;
  }
}

@media (max-width: 600px) {
  label #btn {
    display: block;
  }

  .button_1 {
    display: none;
  }

  .branding {
    margin: 0;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--secondaryGreen);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  #check:checked~ul {
    left: 0;
  }

  #check:checked~label #btn {
    display: none;
  }

  #check:checked~label #cancel {
    display: block;
  }
}

/* SHOWCASE */

#showcase {
  height: 800px;
  /* background: url(/img/mainback_v2-10.png); */
  background: url(/img/main5-10.svg) no-repeat center fixed;
  /* background-position: center center;
  background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* width: 100%; */
  /* height: auto; */
  background-size: cover;

  /*  background: var(--primaryGreen); */
}

#showcase h1 {
  margin-left: 18%;
  margin-top: 100px;
  font-size: 4rem;
}

#showcase p {
  font-size: 1.2rem;
  line-height: 2.5rem;
}

/* #showcase p {
    margin-left: 18%;
    line-height: 1.7rem;
} */

.intro {
  width: 500px;
  margin-left: 18%;
  line-height: 1.7rem;
}

/* Hvem vi er seksjon */

#hvem-vi-er {
  min-height: 400px;
}

#hvem-vi-er h1 {
  margin-left: 15%;
  margin-top: 50px;
}

#hvem-vi-er p {
  margin-left: 22%;
  line-height: 1.7rem;
}

/* HVA VI GJØR SEKSJON */

#hva-vi-gjør {
  background: var(--secondaryGreen);
  margin-top: 20px;
  min-height: 800px;
  -webkit-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  transform: skewY(-2deg);
}

#hva-vi-gjør .container {
  -webkit-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  transform: skewY(2deg);
  display: flex;
  /* justify-content: space-around; */
}

#hva-vi-gjør h1 {
  -webkit-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  transform: skewY(2deg);
  position: absolute;
  margin-left: 15%;
}

#hva-vi-gjør .container-1 {
  margin-top: 15%;
}

#hva-vi-gjør .container-2 {
  margin-top: 15%;
}

@media screen and (max-width: 500px) {
  #hva-vi-gjør .container {
    display: block;
    text-align: center;
  }
}

/* KLIMAMYTER seksjon */
#myter .kaffe {
  width: 500px;
  /* margin-left: 80px; */
}

#myter .bok {
  width: 500px;
  margin-top: 20px;
  /* margin-left: 80px; */
}

#myter .kjøtt {
  width: 500px;
  margin-top: 80px;
  margin-left: 10px;
}

#myter h1 {
  margin-left: 15%;
}

/* #myter .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
  } */

/* #myter .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */

#myter {
  margin: 80px 0 80px 0;
}

#myter .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  margin-left: 20px;
}

/* #myter .container .illustrasjon {
  padding: 10px;
  width: 20%;
  margin-top: 100px;
  margin-bottom: 80px;
} */

#myter .container .illustrasjon {
  /* padding: 10px; */
  width: 100%;
  margin-top: 100px;
  margin-bottom: 80px;
}


/* ------- Klimamyter html --------- */

#klima-myter .kaffe {
  width: 500px;
  /* margin-left: 80px; */
}

#klima-myter .bok {
  width: 600px;
  margin-top: 20px;
  /* margin-left: 80px; */
}

#klima-myter .kjøtt {
  width: 500px;
  margin-top: 80px;
  margin-left: 10px;
}

#klima-myter {
  margin: 80px 0 80px 0;
}

#klima-myter .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  margin-left: 20px;
  padding: 60px;


}

#klima-myter .container .illustrasjon {
  /* padding: 10px; */
  width: 100%;
  margin-top: 100px;
  margin-bottom: 80px;
}

#klima-myter h1 {
  margin-left: 15%;
  font-size: 4rem;
}




@media screen and (max-width: 500px) {
  #myter .container {
    display: block;
    text-align: center;
  }

  #myter .container img {
    width: 300px;
  }

  #myter .kaffe {
    margin: 0;
  }
}

/* #myter h1 {
      margin-left: 15%;
  }
  
  #myter {
      margin-top: 100px;
      min-height: 300px;
  }
  
  #myter .illustrasjon {
      float: left;
      width: 30%;
      padding: 10px;
      margin-top: 100px;
  
  }
  
  #myter .illustrasjon img {
      width: 90px;
  } */

/* INFO seksjon */

#info {
  background: var(--primaryGreen);
  min-height: 500px;
}

/* #info .container {
    display: flex;
    justify-content: center;
    align-items: center;
} */

#info .container {
  max-width: 600px;
}

#info button {
  margin: 0 auto;
  display: block;
  color: var(--black);
  background: #fff;
  padding: 10px 0;
  border: none;
  width: 300px;
  border-radius: 30px;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-top: 20px;
}

#info p {
  /* margin-left: 50%;
      margin-top: 80px; */
  line-height: 2.5rem;
  margin-top: 100px;
}

@media screen and (max-width: 500px) {
  #info {
    text-align: left;
    margin: 0;
  }

  #info .container {
    max-width: 300px;
  }
}

/* FOOTER seksjon */

#footer {
  background: var(--footerGrey);
  color: #fff;
}

#footer .copyright {
  background: #fff;
  color: var(--footerGrey);
}

#footer .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-height: 400px;
}

#footer .container div:nth-child(1) {
  grid-column: 2/5;
  grid-row: 1;
}

#footer .container div:nth-child(2) {
  grid-column: 6/8;
  grid-row: 1;
}

#footer .container div:nth-child(3) {
  grid-column: 9/12;
  grid-row: 1;
}

#footer table {
  border-collapse: collapse;
  border-spacing: 0;
}

#footer tr {
  display: block;
}

#footer .nyhetsbrev button {
  margin-right: 20px;
  color: #fff;
  background: var(--primaryGreen);
  padding: 11px 12px;
  border: none;
  text-transform: uppercase;
}

#footer .nyhetsbrev input {
  width: 150px;
  height: 35px;
  border: none;
}

#footer .lite-info {
  margin-top: 80px;
}

#footer .nyhetsbrev {
  margin-top: 80px;
}

#footer .kontakt {
  margin-top: 80px;
}

@media screen and (max-width: 500px) {
  #footer .container {
    display: block;
  }

  #footer .lite-info {
    max-width: 400px;
    margin-left: 20px;
    line-height: 1.7rem;
  }

  #footer .nyhetsbrev {
    margin-left: 20px;
  }

  #footer .nyhetsbrev input {
    width: 70%;
  }

  #footer .kontakt {
    max-width: 400px;
    margin-left: 20px;
    line-height: 1.7rem;
  }
}

/* BUNN AV SIDE */

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.copyright a {
  text-decoration: none;
  color: var(--footerGrey);
}

@media screen and (max-width: 500px) {
  .copyright {
    display: flex;
  }

  .copyright .KO {
    margin-left: 10px;
  }

  .copyright .PV {
    margin-left: 20px;
  }

  .copyright .LOGONAVN {
    margin-left: 20px;
  }
}

/* ---------- BOKARTIKKEL -----------------  */

/* .bok-illustrasjon {
  float: right;
  margin-right: 600px;
  margin-top: 50px;
  width: 200px;

} */

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background: url(/img/top_triangle.svg) no-repeat;
}




.bok-illustrasjon {
  grid-column: 7/12;
  padding-top: 80px;
  padding-right: 20px;
}

.bok-headline {
  grid-column: 2/6;
  grid-row: 1;
  padding-top: 250px;
  padding-left: 150px;
  line-height: 4rem;
}

.ingress {
  grid-column: 4/10;
  grid-row: 2;
  line-height: 3rem;
  font-size: 1.7rem;

}

.ingress .undertekst {
  font-size: 1rem;
}

.paragraph {
  grid-column: 4/11;
  grid-row: 3;
  line-height: 1.9rem;
}

.konklusjon {
  background: var(--secondaryGreen);
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.heading {
  grid-column: 3/10;
}

.last_paragraph {
  grid-column: 4/11;
  grid-row: 2;
  line-height: 1.9rem;
}

/* ----------- KAFFE ARTIKKEL ---------------- */

/* -- Kaffe --  */

.grid-utslipp {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* background: url(/img/top_triangle.svg) no-repeat; */
}

.grid-kaffe {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background: url(/img/top_triangle.svg) no-repeat;
  background-position: 100px;
  background-position-y: 260px;
  background-size: 105%;
}

.kaffe-illustrasjon {
  grid-column: 7/10;
  padding-top: 80px;
  padding-right: 20px;
  width: 700px;
}

.kaffe-headline {
  grid-column: 2/6;
  grid-row: 1;
  padding-top: 250px;
  padding-left: 150px;
  line-height: 4rem;
}

/* -- Vann -- */

.background {
  background-color: var(--secondaryGreen);
  width: 100%;
}

.vann-statistikk {
  /* background: var(--secondaryGreen); */
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* .vann-heading {
  grid-column: 3/10;
} */

.vann-paragraph {
  grid-column: 4/11;
  line-height: 1.9rem;
}

/* -- Gass -- */

.gass-statistikk {
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.gass-heading {
  grid-column: 4/10;
}

.gass-paragraph {
  grid-column: 4/11;
  line-height: 1.9rem;
}

/*  -- Fairtrade -- */

#fairtrade {
  background-color: var(--secondaryGreen);

}

.fairtrade-container {
  font-family: "museo sans";
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 100px auto 100px auto;
  padding: 100px;
}

.fair-logo {
  margin: auto;
}

.fairtrade-paragraph {
  margin: auto;
}

/* .fairtrade-container {
  width: 50%;
  margin: auto;
  text-align: left;

} */

/* .fair-logo {
  height: 100%;
  width: 100%;
} */

/* .fair-logo {
  margin-top: 50px;
  margin-right: 100px;
  width: 25%;
  float: left;
} */

/* .fairtrade-paragraph {
  padding-top: 100px;
} */

/* TIPS */

.tips {
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.tips-paragraph {
  grid-column: 4/10;
  line-height: 1.9rem;
}

/* OPPDATERING */

.oppdatering {
  /* background: var(--secondaryGreen); */
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.oppdatering-paragraph {
  grid-column: 4/10;
  line-height: 1.9rem;
}

.grafikk {
  grid-column: 4/12;
  margin-bottom: 50px;
}

@media screen and (max-width: 500px) {

  .grid,
  .vann-statistikk,
  .gass-statistikk,
  .oppdatering,
  .grid-kaffe,
  .grid-utslipp {
    display: inline-block;
    margin: 0 40px 0 40px;
  }

  .kaffe-illustrasjon {
    width: auto;
    margin-left: 0px;
  }

  .kaffe-headline {
    width: auto;
    margin: 0;
    padding: 0;
  }

  .bønnegraf,
  .vanngraf,
  .klimagraf,
  .utslipp {
    width: 100%;
  }

  .fairtrade-container {
    display: block;
    margin: 0 40px 0 40px;
    padding: 20px;

  }

  .fair-logo {
    width: 200px;
    margin-left: 80px;
    margin-bottom: 50px;
  }

  /* --- BOK MEDIA ----- */

  @media screen and (max-width: 500px) {
    .grid {
      display: inline-block;
      margin: 0 40px 0 40px;
    }

    .bok-illustrasjon {
      width: 100%;
      padding: 0;
    }

    .bok-headline {
      width: auto;
      margin: 0;
      padding: 0;
      text-align: center;
    }

    .konklusjon {
      display: block;
      margin: 0 20px 0 20px;
      padding: 20px;
    }
  }


  /* .fair-logo {
    width: 50%;
  }

  .fairtrade-paragraph {
    display: inline-block;
  } */

}

@media screen and (max-width: 500px) {
  #hvem-vi-er {
    display: inline-block;
    margin: 0 40px 0 40px;
    text-align: left;
  }
}


@media screen and (max-width: 500px) {
  #showcase {
    background: url(/img/mob_test5-10.svg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    /*  background: var(--primaryGreen); */
  }

  #showcase h1 {
    margin-top: 75px;
    margin-left: 5%;
    font-size: 1.7rem;
  }

  .intro {
    width: 230px;
    margin-left: 5%;
    line-height: 1.6rem;
  }
}

/* --------- BOK ARTIKKEL MEDIA ------------- */

/* @media screen and (max-width: 500px) {
  .grid {
    display: block;
  }

  .bok-illustrasjon {
    display: none;
  }

  .bok-headline {
    display: inline;
  }

  .konklusjon {
    display: inline-block;
  }
} */

/* ----------- KJØTT ARTIKKEL MEDIA ------------ */

@media screen and (max-width: 500px) {}